/* common */
.boldText{
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: .2rem;
}
.circleCheck{
    background-color: indigo;
    color: white;
    padding: .6rem;
    padding-inline: .8rem;
    border-radius: 1.5rem;
    font-size: .7rem;
}

/* main css */
.containerMain{
 background-color: rgb(211, 220, 229);
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden; /* Hide scrollbars */
}
.containerSlideRight{
    background-color: white;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    animation: .6s slide-right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }

  .containerSlideLeft{
    background-color: white;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    animation: .6s slide-left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
@keyframes slide-left {
    from {
      margin-left: 90%;
    }
    to {
      margin-left: 0%;
    }
  }


.subContainerSlide{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: space-between;
    align-items: center;    
}
.subConatinerSlideTop{
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    height: 30vh;
    /* padding-top: 5vh; */
    justify-content: space-between;

}
.subConatinerSlideTopItem{
    /* background-color: rgb(226, 70, 70); */
    display: flex;
    padding-top: 5vh;
    align-items: center;
    justify-content: center;

}
.headTop{
    /* background-color: rgb(33, 131, 131); */
    width: 4rem ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circleDark{
    background-color: indigo;
    color: wheat;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    justify-content: center;
    border-radius: 1rem;
}
.lineDark{
    width: 1rem;
    border: 1px solid indigo;

}
.circleOutlined{
    background-color:white;
    color: gray;
    border: 1px solid rgb(192, 191, 191);
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    justify-content: center;
    border-radius: 1rem;
}
.lineLight{
    width: 1rem;
    border: 1px solid rgb(192, 191, 191);
}
.headContainer{
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headSubInfo{
    /* background-color: aqua; */
    font-size: .7rem;
    color: gray;
    font-weight: 500;
}
.inputsContainer{
    /* background-color: brown; */
    width: 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cardsArea{
    /* background-color: brown; */
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 5;
}
.inputSubContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .2rem;
}
.inputsContainer label{
    font-size: .7rem;
    font-weight: bold;
    color: rgb(73, 69, 69);
}
.inputsContainer label span{
    font-size: .7rem;
    color: gray;
}
.inputsContainer input{
    border: 1px solid rgb(192, 191, 191);
    border-radius: .2rem;
    padding: .3rem;
    font-size: .7rem;
    z-index: 10;
}
.inputsContainer input:hover{
    border: 1px solid rgb(132, 129, 129);
    border-radius: .2rem;
    padding: .3rem;
    font-size: .7rem;
}
.inputsContainer input:focus{
    outline: none !important;
    border: 1px solid rgb(58, 57, 57);
    border-radius: .2rem;
    padding: .3rem;
    font-size: .7rem;
}
.inputSubContainer button{
    background-color: indigo;
    color: white;
    font-size: .7rem;
    border: none;
    border-radius: .2rem;
    padding: .2rem;
    z-index: 10;
}
.inputSubContainer button:hover{
    background-color: rgb(111, 56, 159);
    cursor: pointer;
}
.inputSubContainer button:active{
    background-color: rgb(155, 138, 170);
    cursor: pointer;
}
/* .subConatinerSlideBottomItem{
    background-color: aqua;
} */
.cardContainer{
    /* border: 1px solid rgb(204, 201, 201); */
    padding: .5rem;
    font-size: .5rem;
    border-radius: .2rem;
    margin: .2rem;
}
.cardContainer:hover{
    /* border: 1px solid indigo; */
    background-color: rgb(247, 243, 243);
    padding: .5rem;
    font-size: .5rem;
    border-radius: .2rem;
    margin: .2rem;
    cursor: pointer;
}
.cardHead{
    font-size: .6rem;
    font-weight: 700;
    padding-bottom: .2rem;
}
.cardBody{
    color: gray;
    font-weight: 500;
}

/* buttons */
.leftButtonContainer{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 9.2vw;
    height: 80vh;
    width: 40vw;
    opacity: 0;
}
.leftButtonContainer:hover{
    transition: opacity ease-in-out 0.6s;
    opacity: 1;
}


.circleLeft{
    background-color:rgb(255, 255, 255);
    color: rgb(183, 179, 179);
    /* opacity: .7; */
    display: flex;
    width: 1.8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: center;
    border-radius: 1.8rem;
    font-weight: 800;
    position: absolute;
}
/* .circleLeft:hover{
    background-color:rgb(248, 244, 244);
} */
.circleLeft:active{
    background-color:rgb(246, 240, 240);
}

.rightButtonContainer{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 9.2vw;
    height: 80vh;
    width: 40vw;
    opacity: 0;
}
.rightButtonContainer:hover{
    transition: opacity ease-in-out 0.6s;
    opacity: 1;
    
}
/*  */

.circleRight{
    background-color:white;
    color: rgb(183, 179, 179);
    /* opacity: .7; */
    display: flex;
    width: 1.8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: center;
    border-radius: 1.8rem;
    font-weight: 800;
    position: absolute;
    left: 100
   
}
.circleRight:active{
    background-color:rgb(246, 240, 240);
}

.circleRight img{
    transform: rotate(180deg);
}
